<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Pokemon</title>
</head>
<body>
    <header>
        <h1>Baniere</h1>
    </header>
    <article>
        <h1>Corps</h1>
        {% block content %}{% endblock %}
    </article>
    <footer>
        <h1>Pied</h1>
    </footer>
</body>
</html>